---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurant&limit=15&location=36.830360,-76.122750&open_now=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer FOOD_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4999'
      Ratelimit-Resettime:
      - '2021-10-02T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-7bbf457c88-47cgl; site=public_api_v3
      X-Zipkin-Id:
      - 7a95ec2d05408ec0
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-85-173-useast1aprod
      X-Extlb:
      - 10-65-85-173-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "io57fDJ64kJbMC50GQjACQ", "alias": "tupelo-honey-virginia-beach",
        "name": "Tupelo Honey", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/Kww6TdfYRQvg8NivJ_aFPg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/tupelo-honey-virginia-beach?adjust_creative=LQcpiiWbMiKa340WkEG_8A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LQcpiiWbMiKa340WkEG_8A",
        "review_count": 1115, "categories": [{"alias": "southern", "title": "Southern"},
        {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}, {"alias": "newamerican",
        "title": "American (New)"}], "rating": 4.0, "coordinates": {"latitude": 36.8420451,
        "longitude": -76.1313633}, "transactions": ["pickup", "delivery"], "price":
        "$$", "location": {"address1": "4501 Main St", "address2": "", "address3":
        "", "city": "Virginia Beach", "zip_code": "23462", "country": "US", "state":
        "VA", "display_address": ["4501 Main St", "Virginia Beach, VA 23462"]}, "phone":
        "+17572644808", "display_phone": "(757) 264-4808", "distance": 1606.1776728999898},
        {"id": "X1nCeshAx9MYBScabeUx-Q", "alias": "judys-sichuan-cuisine-virginia-beach",
        "name": "Judy''s Sichuan Cuisine", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/kyR_5sM_IO2azvnbkuu3eg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/judys-sichuan-cuisine-virginia-beach?adjust_creative=LQcpiiWbMiKa340WkEG_8A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LQcpiiWbMiKa340WkEG_8A",
        "review_count": 572,[...]
