---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurant&limit=15&location=23452&open_now=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer FOOD_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2021-07-22T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-c6fb56896-2tn5k; site=public_api_v3
      Ratelimit-Remaining:
      - '4765'
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-171-158-useast1bprod
      X-Extlb:
      - 10-65-171-158-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "AKqb9TR9QdzJ1qdu8tkTzA", "alias": "hair-of-the-dog-eatery-virginia-beach-2",
        "name": "Hair of the Dog Eatery", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/gwaFPzFHysAIJ6e5YC2exQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hair-of-the-dog-eatery-virginia-beach-2?adjust_creative=LQcpiiWbMiKa340WkEG_8A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LQcpiiWbMiKa340WkEG_8A",
        "review_count": 879, "categories": [{"alias": "tradamerican", "title": "American
        (Traditional)"}], "rating": 4.0, "coordinates": {"latitude": 36.8427236690082,
        "longitude": -76.1146234298266}, "transactions": ["delivery", "pickup"], "price":
        "$$", "location": {"address1": "4000 Virginia Beach Blvd", "address2": "Ste
        210", "address3": "", "city": "Virginia Beach", "zip_code": "23452", "country":
        "US", "state": "VA", "display_address": ["4000 Virginia Beach Blvd", "Ste
        210", "Virginia Beach, VA 23452"]}, "phone": "+17573212200", "display_phone":
        "(757) 321-2200", "distance": 1693.9970493730857}, {"id": "BfRDJuCXGJTYspHHgEN4zg",
        "alias": "mazari-kebab-and-more-virginia-beach", "name": "Mazari Kebab and
        More", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/O8HcqBaWHv_oHQ5U5wk6IA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/mazari-kebab-and-more-virginia-beach?adjust_creative=LQcpiiWbMiKa340WkEG_8A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LQcpiiWbMiKa340WkEG_8A",
        "review_count": 581, "[...]
