---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurant&limit=15&location=22304&open_now=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer FOOD_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4766'
      Ratelimit-Resettime:
      - '2021-07-22T00:00:00+00:00'
      X-Routing-Service:
      - routing-canary--useast1-7b97b998d7-dcmwp; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-171-158-useast1bprod
      X-Extlb:
      - 10-65-171-158-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "avHzmFsepOW64xM9l9IWXw", "alias": "fratelli-alexandria-2",
        "name": "Fratelli ", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/MW_Nm5nELHaz5eK6QH4uxw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fratelli-alexandria-2?adjust_creative=LQcpiiWbMiKa340WkEG_8A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LQcpiiWbMiKa340WkEG_8A",
        "review_count": 428, "categories": [{"alias": "italian", "title": "Italian"}],
        "rating": 4.5, "coordinates": {"latitude": 38.808784, "longitude": -77.1326374},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "410
        S Van Dorn St", "address2": null, "address3": "", "city": "Alexandria", "zip_code":
        "22304", "country": "US", "state": "VA", "display_address": ["410 S Van Dorn
        St", "Alexandria, VA 22304"]}, "phone": "+17032129122", "display_phone": "(703)
        212-9122", "distance": 1527.5079074502717}, {"id": "dOKnbP1TjZx_3XB6_VYHgg",
        "alias": "carlyle-arlington", "name": "Carlyle", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/Yv96FC-hv2XZhovSzYJbtA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/carlyle-arlington?adjust_creative=LQcpiiWbMiKa340WkEG_8A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LQcpiiWbMiKa340WkEG_8A",
        "review_count": 1431, "categories": [{"alias": "newamerican", "title": "American
 [...]
